.nav-item a{
    color: #062829;
    
}
.nav-item a:hover{
    color: darkgray;
}
.login{
    color: white;
    background-color: #062829;
    border: black;
}
.login:hover{
    background-color: darkgray;
}
.colornav{
    background-color: #e2c2a3 !important;
}
.YoProgramo{
    color: #062829;
    font-weight: 600;
}

.navbar-collapse {

    flex-grow: 0 !important;

}
body{
    margin: 0;
}
.bg{
text-align: center;
padding: 10px;
height: 60vh;
background-size: cover;
box-sizing: border-box;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.botonEditar{
display: block;
float: right;
padding:auto;
margin: 1%;
margin-top: 270px;
margin-right: 50px;
   }

.botonEditar:hover{
color: #e2c2a3;
    }
.fondom{
    background: #e2c2a3;
    }
.boton:hover{
        background-color: #e2c2a3 !important;
    }