<div class="conteiner">
    <div class="row bg">
        <div class="col-12 ">
<h2 class="centrado">Educación</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card w-100 anchocard">
                <div class="row">
                  <div class="col-4 text-center">
                    <img src="assets/images/logo1.png" class="img-fluid logos" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body alineartexto">
                      <h5 class="card-title">Desarrollo Full Stack</h5>
                      <p class="card-text"> #YoProgramo. Curso realizado en el marco del plan Argentina Programa, con una duración de siete meses. Certificado de manera conjunta por el Ministerio de Desarrollo Productivo, la Cámara de la Industria Argentina del Software (CESSI) y el Instituto Nacional de Tecnología Industrial (INTI).</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card w-100 anchocard">
                    <div class="row">
                      <div class="col-4 text-center">
                        <img src="assets/images/logo1.png" class="img-fluid logos" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body alineartexto">
                          <h5 class="card-title">#SeProgramar</h5>
                          <p class="card-text">Curso introductorio sobre los fundamentos básicos de la programación, con una carga horaria aproximada de 60 hs. Certificado de manera conjunta por el Ministerio de Desarrollo Productivo, la Cámara de la Industria Argentina del Software (CESSI) y el Instituto Nacional de Tecnología Industrial (INTI).</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <div class="card w-100 anchocard">
                    <div class="row">
                      <div class="col-4 text-center">
                        <img src="assets/images/logohuawei1.jpg" class="img-fluid logos" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body alineartexto">
                          <h5 class="card-title">Big Data introductorio</h5>
                          <p class="card-text">Dictado por el centro G+T(ARSAT)</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <div class="card w-100 anchocard">
                    <div class="row">
                      <div class="col-4 text-center">
                        <img src="assets/images/logoGoogle.jpg" class="img-fluid logos" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body alineartexto">
                          <h5 class="card-title">Comercio Electrónico</h5>
                          <p class="card-text"> Certificación en Comercio Electrónico. Con una carga horaria de 40 hs. Dictado por Google Activate.</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <div class="card w-100 anchocard">
                    <div class="row">
                      <div class="col-4 text-center">
                        <img src="assets/images/logoGoogle.jpg" class="img-fluid logos" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body alineartexto">
                          <h5 class="card-title">Digitaliza paso a paso tu negocio con Google My Business y  You Tube</h5>
                          <p class="card-text"> Curso orientado a la generación de presencia online con Google My Business y You Tube. Dictado por Google Activate.</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <div class="card w-100 anchocard">
                    <div class="row">
                      <div class="col-4 text-center">
                        <img src="assets/images/logoGoogle.jpg" class="img-fluid logos" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body alineartexto">
                          <h5 class="card-title">Introducción al Desarrollo Web I</h5>
                          <p class="card-text"> Curso introductorio. Con una carga horaria de 40 hs. Dictado por Google Activate.</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <div class="card w-100 anchocard">
                    <div class="row">
                      <div class="col-4 text-center">
                        <img src="assets/images/logoGoogle.jpg" class="img-fluid logos" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body alineartexto">
                          <h5 class="card-title">Conceptos Básicos del Marketing Digital</h5>
                          <p class="card-text"> Curso introductorio. Con una carga horaria de 40 hs. Dictado por Google Garage Digital</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>

