.bg{
    height: 80px;
    width: 100%;
    background-color: #e2c2a3;
    margin: 0;
    margin-top:-10px;
}
.centrado{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 200;
}
.logos{
    height: 70px;
    width: 70px;
    margin-top: 20px;
    
}

.alineartexto{
    padding-top: 20px;
}
.anchocard{
    border: 2px solid #e2c2a3;
}