<div class="conteiner">
    <div class="row bg">
        <div class="col-12 ">
<h2 class="centrado">Educación</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div *ngFor="let educacion of educacionList" class="card w-100 anchocard">
                <div class="row">
                  <div class="col-4 text-center">
                    <img [src]="educacion.imagen" class="img-fluid logos" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body alineartexto">
                      <h5 class="card-title">{{educacion.titulo}}</h5>
                      <p class="card-text">{{educacion.descripcion}}</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
        </div>
    </div>


