.bg{
    height: 80px;
    width: 100%;
    background-color: #e2c2a3;
    margin: 0;
    margin-top:-10px;
}
.centrado{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 200;
}
.bgproyecto{
    background-color: #eeeeee;
}
.imgB{
    width: auto;
    height: 200px;
    padding: auto;
}
.border{
    border: 2px solid #e2c2a3 !important;
}
.borderfooter{
border-top: 0.5px solid #e2c2a3 !important;
}
.boton:hover{
    background-color: darkgrey !important;
}
.negrita{
    font-weight: 200px;
}
.alto{
    height: 60px;
}
.espacio{
    padding-top: 15px;
}