<div class="conteiner">
    <div class="row bg">
        <div class="col-12 ">
<h2 class="centrado">Proyectos</h2>
</div>
</div>
<div class="card border">
    <div class="card-body text-left bgproyecto">
      <h5 class="card-title negrita">Nombre de Proyecto</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit architecto dolor aspernatur, a recusandae dolore tenetur impedit porro libero magnam aut nam beatae blanditiis itaque iusto excepturi in ea dicta?! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo porro necessitatibus laudantium at ut expedita modi nisi culpa provident et, ad perferendis voluptate accusantium assumenda a, fuga similique magni tenetur.</p>
    </div>
    <div class="card-body text-center bgproyecto">
        <a href="#" class="btn btn-dark boton">Ver Proyecto</a>
    </div>
    <div class="card-footer text-center text-muted borderfooter">
      00/00/2000
    </div>
  </div>
  <div class="card border">
    <div class="card-body text-left bgproyecto">
      <h5 class="card-title negrita">Nombre de Proyecto</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit architecto dolor aspernatur, a recusandae dolore tenetur impedit porro libero magnam aut nam beatae blanditiis itaque iusto excepturi in ea dicta?! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo porro necessitatibus laudantium at ut expedita modi nisi culpa provident et, ad perferendis voluptate accusantium assumenda a, fuga similique magni tenetur.</p>
    </div>
    <div class="card-body text-center bgproyecto">
        <a href="#" class="btn btn-dark boton">Ver Proyecto</a>
    </div>
    <div class="card-footer text-center text-muted borderfooter">
      00/00/2000
    </div>
  </div>
  <div class="card border">
    <div class="card-body text-left bgproyecto">
      <h5 class="card-title negrita">Nombre de Proyecto</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit architecto dolor aspernatur, a recusandae dolore tenetur impedit porro libero magnam aut nam beatae blanditiis itaque iusto excepturi in ea dicta?! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo porro necessitatibus laudantium at ut expedita modi nisi culpa provident et, ad perferendis voluptate accusantium assumenda a, fuga similique magni tenetur.</p>
    </div>
    <div class="card-body text-center bgproyecto">
        <a href="#" class="btn btn-dark boton">Ver Proyecto</a>
    </div>
    <div class="card-footer text-center text-muted borderfooter">
      00/00/2000
    </div>
  </div>
</div>