
<div class="conteiner">
    <div class="row bg">
        <div class="col-12 ">
<h2 class="centrado">Habilidades <h3 class="drag" *ngIf="hasRouteAdmin('/usuario')"> (Drag and drop)</h3></h2>
        </div>
    </div> 
    <!-- habilidades duras -->
    <div class="row fondohabilidades">
      <div class="col titulohabilidades">
        <h5 card-tittle>Habilidades duras</h5>
        <hr>
      </div>
</div>
<div cdkDropList (cdkDropListDropped)="onDropped($event)" class="cursor">
<div  cdkDrag *ngFor="let habilidadesDuras of durasList" class="row fondohabilidades">
  <div [class]="habilidadesDuras.alinearTexto"><p class="habilidad">{{habilidadesDuras.titulo}}</p></div>
  <div class="col-8">
<div class="progress">
  <div [class]="habilidadesDuras.clases" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style]="habilidadesDuras.style">{{habilidadesDuras.porcentaje}}</div>
</div>
</div>
</div>
</div>
<!-- habilidades blandas -->
<div class="row fondohabilidades">
  <div class="col titulohabilidades">
    <h5 card-tittle>Habilidades blandas</h5>
    <hr>
  </div>
</div>
<div cdkDropList (cdkDropListDropped)="onDroppedB($event)" class="cursor">
<div cdkDrag *ngFor="let habilidadesBlandas of blandasList" class="row fondohabilidades">
  <div [class]="habilidadesBlandas.alinearTexto"><p class="habilidad">{{habilidadesBlandas.titulo}}</p></div>
  <div class="col-8">
<div class="progress">
  <div [class]="habilidadesBlandas.clases" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style]="habilidadesBlandas.style">{{habilidadesBlandas.porcentaje}}</div>
</div>
</div>
</div>
</div>

