<div class="conteiner-fluid bg bordeinferior">
    <div class="row">
        <div class="col-12">
    <img [src]="miPortafolio.imagenPerfil" class="img-fluid fotoPerfil" alt="...">
</div>
</div>
<div class="row formatocard">
    <div class=" col formatotitulo"> <h5 class="card-text">{{miPortafolio.nombre}}</h5></div>
    
    <div class="col alineartexto">
        
              <h5 class="card-title">{{miPortafolio.titulo}}</h5>
              <p class="card-text">{{miPortafolio.sobreMi}} </p>    
    </div>
</div>
</div>