<div class="conteiner-fluid bg bordeinferior">
    <div class="row">
        <div class="col 12">
    <img src="./assets/images/imgperfil.jpg" class="img-fluid fotoPerfil" alt="...">
</div>
</div>
<div class="row formatocard">
    <div class="col formatotitulo"> <h5 class="card-text">Florencia Casanova</h5></div>
    
    <div class="col">
        
              <h5 class="card-title">Desarrolladora Web Full Stack Jr</h5>
              <p class="card-text">Estoy dando mis primeros pasos en el desarrollo web, es de mi interés continuar formándome y adquirir experiencia en el mundo de la programación web. Mi búsqueda laboral se direcciona en este sentido. </p>    
    </div>
</div>
</div>