.fotoPerfil{
    width: 300px;
    height: 300px;
    padding:80px;
    border-radius:190px;
    margin-top: -165px;
}
.formatotitulo{
    padding: 5px 40px 40px 80px;
}
.bordeinferior{
    border: 2px solid #e2c2a3;
    margin-top:-10px;

}
.formatocard{
    margin-top: -50px;
}
.bg{
background-color: #eeeeee;
padding: 10px;
}
.alineartexto{
    
    padding-right: 10%;
    padding-bottom: 2%;
}
