<div class="conteiner">
    <div class="row bg">
        <div class="col-12 ">
<h2 class="centrado">Experiencia</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div *ngFor="let experiencia of experienciaData" class="card w-100 anchocard">
                <div class="row">
                  <div class="col-4 text-center">
                    <img [src]="experiencia.imagen" class="img-fluid logos" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body alineartexto">
                      <h5 class="card-title">{{experiencia.titulo}}</h5>
                      <p class="card-text">{{experiencia.descripcion}}</p>
                      <svg (click)="deleteExperiencia(experiencia)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x botonEditar" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                      <svg (click)="editExperiencia(experiencia)" data-bs-toggle="modal" data-bs-target="#exampleModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil botonEditar " viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              </div>
        </div>
    </div>



<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header fondom">
        <h5 class="modal-title" id="exampleModalLabel">Editar Experiencia</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue" >
          <div class="form-group">
            <label for="exampleInputEmail1">Puesto</label>
            <input type="text" formControlName="titulo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su Cargo y lugar de trabajo">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tareas desarrolladas</label>
            <input type="text" formControlName="descripcion" class="form-control" id="exampleInputPassword1" placeholder="Describa las tareas desarrolladas">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Logo</label>
            <input type="text" formControlName="imagen" class="form-control" id="exampleInputPassword1" placeholder="Inserte URL de la imagen">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="updateExperiencia()" class="btn btn-dark boton" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>